name: Build Wheels

on: [push, workflow_dispatch] 

env:
  CIBW_SKIP: cp36-* cp37* pp* *-musllinux*

jobs:
  build_wheels:
    name: Build wheels on ${{matrix.arch}} for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        arch: [auto]

    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        if:  ${{ matrix.arch == 'aarch64' }}
        uses: docker/setup-qemu-action@v2


      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        # with:
        #   cmake-version: '3.16.x'

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.0
        # to supply options, put them in 'env', like:
        env:
          CIBW_BEFORE_BUILD: git submodule init && git submodule update && pip install "cmake>=3.30.2" && pip install cython numpy scikit-build setuptools wheel
          CPPFLAGS: -I/usr/local/opt/zlib/include
          LDFLAGS: -L/usr/local/opt/zlib/lib
          CIBW_ARCHS_MACOS: "x86_64"
          CIBW_ARCHS_LINUX: "auto"

      - name: Upload built wheels
        uses: actions/upload-artifact@v4
        with:
          name: built-wheels-${{ matrix.os }}-${{ matrix.arch }}
          path: ./wheelhouse/*.whl
          if-no-files-found: warn
