name: Build Wheels

on: [push, workflow_dispatch] 

env:
  CIBW_SKIP: cp27-* cp33-* cp34-* cp35-* pp27-* pp36-* pp37-*

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Build wheels
        uses: joerick/cibuildwheel@v1.10.0
        # to supply options, put them in 'env', like:
        env:
          CIBW_BEFORE_BUILD: git submodule init && git submodule update && pip install oldest-supported-numpy scikit-build 
          CPPFLAGS: -I/usr/local/opt/zlib/include
          LDFLAGS: -L/usr/local/opt/zlib/lib

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl